<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>dcffd3052e2aa7a7390f666dd74a5c94643e52a9</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>tel</string>
		<string>fb</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Camera usage description</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para proveer mejores pronósticos</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Usamos tu ubicación para proveer mejores pronósticos</string>
	<key>NSLocationUsageDescription</key>
	<string>Usamos tu ubicación para proveer mejores pronósticos</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Usamos tu ubicación para proveer mejores pronósticos</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-UI-Text-SemiboldItalic</string>
		<string>SF-UI-Text-Semibold</string>
		<string>SF-UI-Text-RegularItalic</string>
		<string>SF-UI-Text-Regular</string>
		<string>SF-UI-Text-MediumItalic</string>
		<string>SF-UI-Text-Medium</string>
		<string>SF-UI-Text-LightItalic</string>
		<string>SF-UI-Text-Light</string>
		<string>SF-UI-Text-HeavyItalic</string>
		<string>SF-UI-Text-Heavy</string>
		<string>SF-UI-Text-BoldItalic</string>
		<string>SF-UI-Text-Bold</string>
		<string>SF-UI-Display-Ultralight</string>
		<string>SF-UI-Display-Thin</string>
		<string>SF-UI-Display-Semibold</string>
		<string>SF-UI-Display-Regular</string>
		<string>SF-UI-Display-Medium</string>
		<string>SF-UI-Display-Light</string>
		<string>SF-UI-Display-Heavy</string>
		<string>SF-UI-Display-Bold</string>
		<string>SF-UI-Display-Black</string>
		<string>SF-Pro-Display-Black</string>
		<string>SF-Pro-Display-Bold</string>
		<string>SF-Pro-Display-Heavy</string>
		<string>SF-Pro-Display-Light</string>
		<string>SF-Pro-Display-Medium</string>
		<string>SF-Pro-Display-Regular</string>
		<string>SF-Pro-Display-Semibold</string>
		<string>SF-Pro-Display-Thin</string>
		<string>SF-Pro-Text-Bold</string>
		<string>SF-Pro-Text-Heavy</string>
		<string>SF-Pro-Text-Light</string>
		<string>SF-Pro-Text-Medium</string>
		<string>SF-Pro-Text-Regular</string>
		<string>SF-Pro-Text-Semibold</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
